@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

.photoandintro {
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: space-evenly;
margin-left: 10%;
margin-right: 10%;
}

#intro {
font-family: 'Cormorant Garamond', serif;
font-family: 'Noto Serif SC', serif;
font-size: 21px;
font-style: lighter;
;
color: rgb(79, 77, 77);
font-variant: normal;
font-weight: lighter;
line-height: 130%;
}

.contact {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}


#photo {
margin-bottom: 2.5%;
width: 200px;
margin-top: 3.5%;
align-items: center;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
}

.icon {
width: 25px;
margin-top: 0;
margin-bottom: 0%;
margin-right: 1.7%;
}

.category {
font-family: 'Cormorant Garamond', serif;
font-size: 29px;
font-style: normal;
font-variant: normal;
font-weight: lighter;
color: rgb(79, 77, 77);
line-height: 35px;
text-align: center;
margin: auto;
margin-top: 2%;
margin-bottom: 2%;
}

.work-sample {
width: 1300px;
max-width: 92%;
margin: flex;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:space-between;
}

.piece {
display: flex;
flex-flow:wrap;
flex-wrap:wrap;
flex-basis: 30%;
margin-bottom:1em;
}

/* For tablets */
@media (max-width: 1024px) {
.piece {
display: flex;
flex-flow:wrap;
flex-wrap:wrap;
flex-basis: 50%;
}
}

.piece-title {
font-family: 'Cormorant Garamond', serif;
font-size: 21px;
font-weight: 400;
line-height: 115%;
color: rgb(79, 77, 77);
margin-top: 2.25%;
margin-bottom: 0;
}

.piece-desc {
font-family: 'Cormorant Garamond', serif;
color: rgb(79, 77, 77);
font-size: 15px;
font-weight: 300;
margin-top: 1.2%;
line-height: 120%;
margin-bottom: 4px;
}

.tool {
font-family: 'Cormorant Garamond', serif;
font-size: 11px;
font-weight: 400;
color: white;
border-radius: 8px;
padding: 1.75px;
padding-left: 5.2px;
padding-right: 5.2px;
margin-right: 0.7%;
line-height: 100%;
vertical-align: middle;
}

/* For mobile */
@media (max-width: 576px) {
#intro {
    font-size: 22px;
}

#photo {
    width: 170px;
    padding-top: 5%;
}

.work-sample {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.piece {
    width: 100%;
    padding-bottom: 40px;
}

.piece-desc {
    margin-bottom: 7px;
}
}

.pandas {
background-color: #bc9cb8;
color: black;
}

.web-scraping {
background-color: rgb(210, 210, 192);
color: black;
}

.video-producing {
background-color: rgb(191, 210, 220);
color: black;
}

.datawrapper {
background-color: rgb(195, 225, 215);
color: black;
}

.videofronted {
background-color: rgb(203, 202, 220);
color: black;
}

.videoscripted {
background-color: rgb(232, 218, 222);
color: black;
}

.videoproduced {
background-color: rgb(226, 218, 232);
color: black;
}

.videofilmed {
background-color: rgb(229, 232, 218);
color: black;
}

.videoedited {
background-color: rgb(238, 216, 188);
color: black;
}

.hvr-grow {
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: transform;
transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
-webkit-transform: scale(1.02);
transform: scale(1.02);
}

.piece-desc:hover,
.piece-title:hover {
color: rgb(141, 139, 139);
}

.shadow {
/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
box-shadow: 0 1.5px 5px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.2);
}

.img-fluid {
max-width: 100%;
padding: 20px;
}

a {
color: rgb(7, 7, 7);
background-color: transparent;
}

a:hover {
color: rgb(9, 8, 8);
background-color: transparent;
text-decoration: underline;
font-size: 25px;
}

.piece-title a {
text-decoration: none;
}

.piece-title a:hover {
text-decoration: underline;
font-size: 25px;
}

#more-stories {
display: none;
}

/* center button inside container */
.button-container {
    margin: auto;
    padding: auto;
    text-align: center;
}